/* Cooper Final CSS sheet */

body {
	background-color: #7134eb; 
	
} 

nav { 	text-align: center;
		font-weight: bold;
		font-size: 1em; padding-top: 0px;
		text-decoration: none;
		border-top-width: 5em;
		height: 30px;
		background-color: #34e5eb; }

nav a { text-decoration: none;
		color: #ed079d; }
		
img {
	width: 100px; 
	border: 2px solid black; 
	padding-top: 0px; 
	margin-left: 0px; }
	
#wrapper {
}
style {text-align: left;
}

figure { text-align: left;
 }
 
#top { text-align: left; 
}

#top img { height: 300px;
		   width: 200px;
		 }
		
#bottom { background-color: #777777;
		  height: auto;
		  text-align: left; 
}
