body {background-color: #4f7c51 ;
	  width: 80% ;
	  margin-left: auto ; margin-right: auto ;}
img {max-width: 20% ; height: auto ;}
header {font-size: 80px ;
		font-weight: bold ;
		text-align: center ;
		background-image: linear-gradient(to left, ) ;
		border-bottom: 3px solid black ;}
#wrapper {border-left: 3px solid black ; border-right: 3px solid black ; }
nav {text-align: center;
	 font-family: Arial ;}

