/* each of 5 bsections have different color, each content should havve content, least 10 different elements */ 
body {
	background-color: #000000;
	color: white;
}

header {	background-color: #4d4d4d;  
			padding: 4px; 
			text-align: center;
			max-width: 800px;
			margin-left: 500px;
}
			

main {	font-family: "Times New Roman", Times, serif; 
}

nav {	background-color: #949494;
		text-align: center;
		max-width: 400px;
		margin-left: 700px;
}